<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - brickit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/brickit.styles.css" asp-append-version="true" />
    <style>
    </style>
</head>

<body>
 
    <header class="header shadow-sm rounded">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d3660e87ecaac15cafa9cb42798721e4047a1e0efee2935dcdbb5861cfde1cf?apiKey=9a246791027840cdbefebef3c3499f5e&" alt="Logo" class="logo" />
                </div>

                <div class="col">
                    <div class="search-bar p-1 m-1 absolute-center">
                        <form asp-action="Search" method="get">
                            <div class="input-group">
                                <input type="text" class="form-control rounded" name="query" placeholder="Search Lego Sets" aria-label="Search" aria-describedby="search-addon" />
                                <button type="submit" class="btn btn-primary" data-mdb-ripple-init>search</button>
                            </div>
                        </form>

                    </div>
                </div>


                <div class="col absolute-center">
                    <div>
                        <a asp-controller="Home" asp-action="Privacy" class="privacy-link link-warning">
                            <span class="text-center">
                                PRIVACY
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col absolute-center">
                    <div>
                        <a asp-controller="Home" asp-action="AboutUs" class="about-link link-warning">
                            <span class="text-center">
                                ABOUT US
                            </span>
                        </a>
                    </div>
                </div>

                <div class="dropdown col">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f8ab62d924c6094f9165b021364093b1b28ccf35077e6e53b4c0baa0c555efd8?apiKey=9a246791027840cdbefebef3c3499f5e&" alt="Logo" class="user dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Login">Login</a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index">Logout</a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="SignUp">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </header>






    <div class="container">
@*         <div class=" m-2 p-4 bg-white rounded border shadow-sm border border-5 border-success"> *@
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        @* </div> *@
    </div>



    <footer class="border-top footer text-muted">
        <div class="container text-center text-white">
            &copy; 2024 - brickit - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="privacy-link link-warning">Privacy</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
