html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.header-search {
    /* Remove absolute positioning */
    /* position: absolute; */
    /* Adjust top and left positions if needed */
    /* top: 10px; */
    /* left: 10px; */
    /* Remove z-index */
    /* z-index: 2; */
    /* Ensure the search box appears in front */
}

.header-image {
    /* Adjust positioning if needed */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* Make the image cover the entire header */
    /* z-index: 1; */
}

.logo {
    /* Adjust positioning if needed */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
     width: 90px; */
    /* max-width: 100%; */
    /* aspect-ratio: 1; */
    /* object-fit: contain; */
    /* object-position: center; */
    /* align-self: start; */
    /* Add margin-right to create space between logo and search bar */
    margin-right: 10px;
}


.header-bg {
    display: block;
    width: 30%;
    height: auto;
}

.header {
    background-color: #da291c;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



.header-links {
    display: flex; /* Make links display in a row */
    justify-content: flex-end; /* Align links to the right */
    flex: 1; /* Allow header links to take up remaining space */
}


.privacy-link,
.about-link {
    text-align: center;
    font-family: Lexend Tera, sans-serif;
    text-decoration: none; /* Updated */
    color: #fff; /* Set text color to white */
    margin-left: 30px;
}

.user {
    width: 90px;
    padding: 20px;
}

/*.background-image {
    position: absolute;
    inset: 0;
    width: 110%;
    height: 110%;
    object-fit: cover;
    object-position: center;
}
*/